{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/aboutcontact.css' %}">

    <title>AboutUs</title>
</head>

<body>
    <!-- header strat-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="font-weight: bold; color: #1757AA;" href="#">JobBridge</a>
        <form class="form-inline">
            <button class="btn btn btn-sm " type="submit"
                style="margin-right: 10px; background-color: #74daec; font-weight: bold; color: #1757AA;">About</button>
            <button class="btn btn btn-sm " type="submit" style="margin-right: 10px; font-weight: bold; background-color: #74daec; color:#1757AA">What We
                Offer</button>

        </form>
    </nav>
    <!-- header end  -->
    <div class="SectionWrapper-module--videoPlayerWrapper--1_WJ5 position-relative">
        <video style="width: 100%; height: 70vh; object-fit: cover;" autoplay muted loop playsinline
            disablePictureInPicture controlsList="nodownload nofullscreen noremoteplayback">
            <source src="{% static 'assets/Aboutus.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="max_width_container ">
        <p class="headings mt-5">Our vision</p>
        <p class="sub_heading" style="text-align: center;">Internshala is a dot com business with the heart of dot org.
        </p>
        <p class="context" style="text-align: center; font-size: medium;">We are a technology company on a mission to
            equip students with
            relevant skills &amp;
            practical exposure to help them get the best possible start to their careers. Imagine a world full of
            freedom and possibilities. A world where you can discover your passion and turn it into your career. A world
            where you graduate fully assured, confident, and prepared to stake a claim on your place in the world.</p>
        <div class="vision_blocks">
            <div class="vision"><img alt="trainings"
                    src="https://internshala.com/static/images/info/about_us/vision/trainings-r575.svg">
                <div>
                    <p class="sub_heading" style="font-weight: bold; font-size: 25px;">Trainings</p>
                    <p class="context">Learn new-age skills on the go with our short-term online trainings</p><a
                        href="https://trainings.internshala.com">Explore more<i class="ic-16-arrow-right"></i></a>
                </div>
            </div>
            <div class="vision"><img alt="trainings"
                    src="https://internshala.com/static/images/info/about_us/vision/jos-r575.svg">
                <div>
                    <p class="sub_heading" style="font-weight: bold; font-size: 22px;">Placement Guarantee courses</p>
                    <p class="context">Specialize in industry-oriented programs that get you ready for a career in your
                        dream profile</p><a href="https://trainings.internshala.com/#specializations">Explore more<i
                            class="ic-16-arrow-right"></i></a>
                </div>
            </div>
            <div class="vision"><img alt="trainings"
                    src="https://internshala.com/static/images/info/about_us/vision/jobs-r575.svg">
                <div>
                    <p class="sub_heading" style="font-weight: bold; font-size: 25px;">Fresher jobs</p>
                    <p class="context">Get premium fresher jobs with a minimum CTC of 2LPA on your fingertips</p><a
                        href="https://internshala.com/fresher-jobs">Explore more<i class="ic-16-arrow-right"></i></a>
                </div>
            </div>
            <div class="vision"><img alt="trainings"
                    src="https://internshala.com/static/images/info/about_us/vision/internships-r575.svg">
                <div>
                    <p class="sub_heading" style="font-weight: bold; font-size: 22px;">Internships</p>
                    <p class="context">Find 10,000+ internships from great companies to give a kickstart to your career
                    </p>
                    <a href="https://internshala.com/internships">Explore more<i class="ic-16-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="max_width ">
        <p class="headings">Our milestones</p>
        <div class="milestone_block">
            <div class="milestone"><img class="milestone_icon"
                    src="https://internshala.com/static/images/info/about_us/milestone/milestone_1-r575.svg"
                    loading="lazy">
                <picture class="timeline_img">
                    <source media="(max-width: 575px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                    <source media="(max-width: 991px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                        src="https://internshala.com/static/images/info/about_us/milestone/timeline-r1920.svg">
                </picture>
                <div>
                    <p class="year">2010</p>
                    <p class="sub_heading">How it all started</p>
                    <p class="context">Sarvesh, our founder &amp; CEO, started Internshala as a blog with a mission to
                        bring a culture of meaningful internships in India. And for the first two years, he hired only
                        virtual interns.</p>
                </div>
            </div>
            <div class="milestone"><img class="milestone_icon"
                    src="https://internshala.com/static/images/info/about_us/milestone/milestone_2-r575.svg"
                    loading="lazy">
                <picture class="timeline_img">
                    <source media="(max-width: 575px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                    <source media="(max-width: 991px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                        src="https://internshala.com/static/images/info/about_us/milestone/timeline-r1920.svg">
                </picture>
                <div>
                    <p class="year">2013</p>
                    <p class="sub_heading">The website launch</p>
                    <p class="context">After building a small team, we then launched our website with just one goal - to
                        equip every student in India with their dream internship. And we did it all for free.</p>
                </div>
            </div>
            <div class="milestone"><img class="milestone_icon"
                    src="https://internshala.com/static/images/info/about_us/milestone/milestone_3-r575.svg"
                    loading="lazy">
                <picture class="timeline_img">
                    <source media="(max-width: 575px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                    <source media="(max-width: 991px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                        src="https://internshala.com/static/images/info/about_us/milestone/timeline-r1920.svg">
                </picture>
                <div>
                    <p class="year">2015</p>
                    <p class="sub_heading">Internshala app launch</p>
                    <p class="context">The next big step could not have been anything other than launching our very own
                        Android app, bringing Internshala in the ‘hands’ of the students.</p>
                </div>
            </div>
            <div class="milestone"><img class="milestone_icon"
                    src="https://internshala.com/static/images/info/about_us/milestone/milestone_4-r575.svg"
                    loading="lazy">
                <picture class="timeline_img">
                    <source media="(max-width: 575px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                    <source media="(max-width: 991px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                        src="https://internshala.com/static/images/info/about_us/milestone/timeline-r1920.svg">
                </picture>
                <div>
                    <p class="year">2016</p>
                    <p class="sub_heading">The beginning of Internshala Trainings</p>
                    <p class="context">After many successful years as an internship platform, our motivation to upskill
                        the students only increased, and that’s when we kickstarted a new journey with Internshala
                        Trainings.</p>
                </div>
            </div>
            <div class="milestone"><img class="milestone_icon"
                    src="https://internshala.com/static/images/info/about_us/milestone/milestone_5-r575.svg"
                    loading="lazy">
                <picture class="timeline_img">
                    <source media="(max-width: 575px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                    <source media="(max-width: 991px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                        src="https://internshala.com/static/images/info/about_us/milestone/timeline-r1920.svg">
                </picture>
                <div>
                    <p class="year">2020</p>
                    <p class="sub_heading">When we launched Fresher Jobs</p>
                    <p class="context">With Fresher jobs, we embarked on a journey filled with newer challenges, which
                        allowed us to provide bigger &amp; better opportunities to graduates with 0-2 years of
                        experience.</p>
                </div>
            </div>
            <div class="milestone"><img class="milestone_icon"
                    src="https://internshala.com/static/images/info/about_us/milestone/milestone_6-r575.svg"
                    loading="lazy">
                <picture class="timeline_img">
                    <source media="(max-width: 575px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                    <source media="(max-width: 991px)"
                        srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                        src="https://internshala.com/static/images/info/about_us/milestone/timeline-r1920.svg">
                </picture>
                <div>
                    <p class="year">2021</p>
                    <p class="sub_heading">The launch of Placement Guarantee courses</p>
                    <p class="context">With an insight that more than 90% of the graduates in India start their careers
                        with a job that pays less than 3LPA, we came up with Placement Guarantee courses to help the
                        students start their careers in their dream profiles.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="news_container">
        <div class="max_width_container">
            <p class="headings">In the news</p>
            <p class="text">we are committed to connecting students and job seekers with
                meaningful career opportunities. Our platform offers a wide range of job listings, internships, and
                resources tailored to your professional aspirations. Stay informed with the latest industry trends and
                success stories through our "In the News" section, designed to empower and guide you on your career
                journey. Join our community today and take the next step toward achieving your career goals.</p>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>