{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/aboutcontact.css' %}" />
    <title>ContactUs</title>
  </head>
  <body>
    <!-- Contact us start -->
    <div id="content" class="container-fluid" style="padding-bottom: 1114px">
      <div class="max-width-container">
        <div class="contacts">
          <div class="heading_2_3 heading_contact">Contact us</div>
          <div class="contact_us_container">
            <div class="individual_contact_us">
              <div class="individual_contact_us_title heading_5_5">
                Students - Internships &amp; Jobs
              </div>
              <div class="individual_contact_us_value">
                For internships and jobs related queries, <br />visit Student
                Help Center
              </div>
              <a href="" class="heading_5_5">
                <div class="help_center_link">
                  Visit student help center <i class="ic-24-chevron-right"></i>
                </div>
              </a>
            </div>
            <div class="individual_contact_us trainings">
              <div class="individual_contact_us_title heading_5_5">
                Student - Trainings
              </div>
              <div class="individual_contact_us_value">
                For trainings related queries, <br />visit Trainings Help Center
              </div>
              <a
                href="https://trainings.internshala.com/help_center/?utm_source=is_web_is_ist"
                class="heading_5_5"
              >
                <div class="help_center_link">
                  Visit trainings help center
                  <i class="ic-24-chevron-right"></i>
                </div>
              </a>
            </div>
            <div class="individual_contact_us">
              <div class="individual_contact_us_title heading_5_5">
                Employers
              </div>
              <div class="individual_contact_us_value">
                For employer queries, <br />visit Employer Help Center
              </div>
              <a
                href="https://internshala.com/employer/help_center"
                class="heading_5_5"
              >
                <div class="help_center_link">
                  Visit employer help center <i class="ic-24-chevron-right"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="reach_us_container guest">
            <div class="emails_container">
              <div class="email_heading heading_4_4">For others</div>
              <div class="sub_heading">
                <div class="sub_heading_title">
                  University/college associations
                </div>
                <div class="sub_heading_email">
                  Email us:
                  <a href="mailto:university.relations@internshala.com"
                    >university.relations@Knowledge.com</a
                  >
                </div>
              </div>
              <div class="sub_heading">
                <div class="sub_heading_title">Media queries</div>
                <div class="sub_heading_email">
                  Email us:
                  <a href="mailto:pr@internshala.com">pr@Knowledge.com</a>
                </div>
              </div>
              <div class="sub_heading">
                <div class="sub_heading_title">Fest sponsorships</div>
                <div class="sub_heading_email">
                  Email us:
                  <a href="mailto:pr@internshala.com">pr@Knowledge.com</a>
                </div>
              </div>
              <div class="sub_heading">
                <div class="sub_heading_title">For everything else</div>
                <div class="sub_heading_email">
                  Email us:
                  <a href="mailto:sarvesh@internshala.com"
                    >sarvesh@Knowledge.com</a
                  >
                </div>
              </div>
            </div>
            <div class="address_container">
              <div class="address_heading heading_4_4">Address</div>
              <div class="address">
                Scholiverse Educare Pvt. Ltd. 901A/B, Iris Tech Park, Sector 48,
                Gurugram, Haryana, India - 122018
              </div>
              <div class="map">
                <a
                  href="https://maps.app.goo.gl/mAXsWeYyfWg5xA1W7"
                  target="_blank"
                >
                  <img
                    class="map_icon"
                    src="https://internshala.com/static/images/contact/google-maps-icon.png"
                    alt="Google Maps"
                  />
                </a>
              </div>
              <div class="address">
                Working Hours: Monday to Friday, 10:00 AM – 6:00 PM
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact us end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
