<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WorkReady</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
    />
  </head>
  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#"> JobBridge </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" data-bs-toggle="dropdown">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >Courses</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All Courses</a></li>
                <li><a class="dropdown-item" href="#">Categories</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >Jobs</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All Jobs</a></li>
                <!-- <li><a class="dropdown-item" href="#">Download</a></li> -->
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >More</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Contact</a></li>
                <li><a class="dropdown-item" href="#">About</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link search-icon" href="#"
                ><i class="bi bi-search"></i
              ></a>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <button class="btn btn-login">Login</button>
            <a href="#" class="btn btn-join ms-2">Register</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="pt-5">
            Your Future Starts Here: <br />
            Top Jobs & Courses <br />
            in One Place!
          </h1>
          <button class="btn btn-primary">Get Started</button>
        </div>

        <img
          class="p-0"
          src="{% static 'assets/banner.png' %}"
          alt=""
          width="1000px"
        />
      </div>
      <div class="row">
        <div class="col">
          <center></center>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2 class="text-center">Tops Jobs on JobBridge</h2>

      <!-- Category Tabs -->
      <ul
        class="nav nav-pills justify-content-center category-tabs mb-4"
        id="categoryTab"
      >
        <li class="nav-item">
          <button
            class="nav-link active"
            data-bs-toggle="pill"
            data-bs-target="#bigBrands"
          >
            Big Brands
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            data-bs-toggle="pill"
            data-bs-target="#workFromHome"
          >
            Work from Home
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            data-bs-toggle="pill"
            data-bs-target="#partTime"
          >
            Part-time
          </button>
        </li>
      </ul>

      <!-- Internship Slider -->
      <div
        id="internshipCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3">
                <div class="card p-3 shadow">
                  <h6 class="pb-0">SEO Internship</h6>
                  <span>Thomus Cook</span>
                  <hr />
                  <p><i class="bi bi-geo-alt pe-1"></i>Gurgaon</p>
                  <p><i class="bi bi-currency-rupee pe-1"></i>10,000/month</p>
                  <p><i class="bi bi-clock pe-1"></i>6 Months</p>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card p-3 shadow">
                  <h6 class="pb-0">SEO Internship</h6>
                  <span>Thomus Cook</span>
                  <hr />
                  <p><i class="bi bi-geo-alt pe-1"></i>Gurgaon</p>
                  <p><i class="bi bi-currency-rupee pe-1"></i>10,000/month</p>
                  <p><i class="bi bi-clock pe-1"></i>6 Months</p>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card p-3 shadow">
                  <h6 class="pb-0">SEO Internship</h6>
                  <span>Thomus Cook</span>
                  <hr />
                  <p><i class="bi bi-geo-alt pe-1"></i>Gurgaon</p>
                  <p><i class="bi bi-currency-rupee pe-1"></i>10,000/month</p>
                  <p><i class="bi bi-clock pe-1"></i>6 Months</p>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card p-3 shadow">
                  <h6 class="pb-0">SEO Internship</h6>
                  <span>Thomus Cook</span>
                  <hr />
                  <p><i class="bi bi-geo-alt pe-1"></i>Gurgaon</p>
                  <p><i class="bi bi-currency-rupee pe-1"></i>10,000/month</p>
                  <p><i class="bi bi-clock pe-1"></i>6 Months</p>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#internshipCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#internshipCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>

    <div class="container mt-5">
      <h2 class="text-center">Placement guarantee courses</h2>
      <center>
        <span><i class="bi bi-check"></i>Guaranteed placement</span>
        <span><i class="bi bi-check"></i>Get 100% refund if not hired</span>
        <span><i class="bi bi-check"></i>Become job ready</span>
      </center>
      <div class="row mt-4">
        <div class="col-lg-3">
          <div class="card shadow" style="width: 17rem; height: 22rem">
            <img
              src="{% static 'assets/course1.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Full Stack Development Course</h5>
              <span class="card-text">
                <i class="bi bi-clock pe-1"></i>4 months course <br />
                <i class="bi bi-currency-rupee pe-1"></i>Get Placed with
                <i class="bi bi-currency-rupee"></i>3-10LPA Salary<br />
                <i class="bi bi-bag-dash pe-1"></i>1.08Lac+ Opportunites <br />
              </span>
              <a href="#" class="btn btn-outline-primary mt-1">Know more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card shadow" style="width: 17rem; height: 22rem">
            <img
              src="{% static 'assets/course2.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Data Science Course</h5>
              <span class="card-text">
                <i class="bi bi-clock pe-1"></i>4 months course <br />
                <i class="bi bi-currency-rupee pe-1"></i>Get Placed with
                <i class="bi bi-currency-rupee"></i>3-10LPA Salary<br />
                <i class="bi bi-bag-dash pe-1"></i>1.08Lac+ Opportunites <br />
              </span>
              <a href="#" class="btn btn-outline-primary mt-1">Know more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card shadow" style="width: 17rem; height: 22rem">
            <img
              src="{% static 'assets/course3.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Human Resource Management Course</h5>
              <span class="card-text">
                <i class="bi bi-clock pe-1"></i>4 months course <br />
                <i class="bi bi-currency-rupee pe-1"></i>Get Placed with
                <i class="bi bi-currency-rupee"></i>3-10LPA Salary<br />
                <i class="bi bi-bag-dash pe-1"></i>1.08Lac+ Opportunites <br />
              </span>
              <a href="#" class="btn btn-outline-primary mt-1">Know more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card shadow" style="width: 17rem; height: 22rem">
            <img
              src="{% static 'assets/course4.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Digital Marketing Course</h5>
              <span class="card-text">
                <i class="bi bi-clock pe-1"></i>4 months course <br />
                <i class="bi bi-currency-rupee pe-1"></i>Get Placed with
                <i class="bi bi-currency-rupee"></i>3-10LPA Salary<br />
                <i class="bi bi-bag-dash pe-1"></i>1.08Lac+ Opportunites <br />
              </span>
              <a href="#" class="btn btn-outline-primary mt-1">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.0.min.js"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
